#menu  a {
 color: #3298e1;
}

.content-wrapper {
 width:80%;
 margin:auto;
}

#header-menu {
 box-shadow: 0px 2px 2px #3298e1;
}

@media (max-width: 767px) {
 #content {
  position: relative;
  top:58px;
 }
}

@media  (min-width: 768px) {
 #content {
  position: relative;
  top: 118px;
 }
}

.history {
 background-color: #dcdaee;
 border: dotted 1px black;
 margin:10px;
 text-align: left;
}
.historyPhase {
 margin:25px;
}